/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(160, 160, 253);
}

.chat-page {
  min-height: 100vh;
}

/* Login Page */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(117, 84, 160, 1) 7%,
    rgba(117, 84, 160, 1) 17%,
    rgba(106, 95, 168, 1) 29%,
    rgba(99, 103, 174, 1) 44%,
    rgba(87, 116, 184, 1) 66%,
    rgba(70, 135, 198, 1) 83%,
    rgba(44, 163, 219, 1) 96%,
    rgba(22, 188, 237, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 100%;
}

.button svg {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 2rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Header */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(60, 89, 255);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 0.5rem;
  color: #fff;
}

.add-stage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  width: 8rem;
  height: 3rem;
  background-color: rgb(0, 46, 83);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: auto;
}

.add-stage-button a {
  color: #fff;
  text-decoration: none;
}

.nav-section {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.14rem solid white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin-left: 2rem;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.signOutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  color: rgb(248, 10, 58);
  background-color: rgba(255, 255, 255, 0.863);
  font-size: 1rem;
  border-radius: 10px;
  width: 8rem;
  height: 3rem;
  margin-right: 0.8rem;
}

.signOutBtn p {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .add-stage-button {
    width: 16rem;
  }
  .logo {
    margin-left: 0;
  }
}
